h1 {
	color: #ecf0f1;
	font-family: "Courier"; 
	text-align: center;
	position: relative;
}

#sidebar {
	position: fixed;
	width: 20%;
	padding: 4% 2% 4% 2%;
	float: left;
}

#main {
	padding: 0 0 0 25px;
	margin: 0 5% 0 30%;
	position: relative;
}

#restaurant {
	padding-top: 20px;
	padding-bottom: 20px;
}

h2 {
	color: #ecf0f1;
	font-family: "Courier"; 
	text-align: center;
	position: relative;
	margin: auto;
	padding: auto;
	border: auto;
}

h3 {
	font-size: 2.5em;
	margin: auto;
	padding: auto;
	border: auto;
}

h4 {
	font-size: 1.5em;
	margin: auto;
	padding: auto;
	border: auto;
}

body {
	background-color: #2c3e50;
	color: #ecf0f1;
	font-family: "Courier"; 
	position: relative;
	font-size: 1.2em;
	margin: auto;
	padding: auto;
	border: auto;
	margin-left: 10%;
}

p {
	margin: auto;
	padding: auto;
	border: auto;
}

a {
	color: white;
	position: relative;
}

a:hover {
  color: #7B833B;
}

#profile {
	width: 75%;
}

/*#icons {
	width: 25px;
}*/

#img1 {
	width: 45%;
}

#img2 {
	float: right;
	width: 46%;
}