h1 {
	color: #2c3e50;
	font-family: "Slate"; font-family: "Futura";
	text-align: center;
}

h2 {
	color: #2c3e50;
	font-family: "Slate"; font-family: "Futura";
	text-align: center;
}

body {
	background-color: #ecf0f1;
	color: #2c3e50;
	font-family: "Slate"; font-family: "Futura";
	padding: 15px;
}